
config MTK_LSM6DS0A
        bool "LSM6DS0A for MediaTek package"
        default n
	help
	  It support different accelerometer sensor.
          If this option is set,
	  it will support
          LSM6DS0A Accelerometer.
